img {
    width: 100%;
}

span {
    margin-left: 15px;
    font-size: 2em;
}

td {
    width: 119px;
    height: 119px;
}

input {
    width: 167px;
    height: 30px;
    font-size: 2em;
    margin: 5px;
}

button {
    margin-left: 145px;
    margin-top: 20px;
    font-size: 2em;
    padding: 15px;
}

.reset {
    margin: 0;
    font-size: 1em;
    padding: 0;
}

.def_label {
    margin-left: 38px;
}
